/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@import 'src/styles/variables';

:root.theme-light {
  // font-weight
  --main-font-weight: 400;
  --main-font-bold-weight: 700;

  // theme-colors
  --theme-bc-color: white;
  --theme-accent-color: black;

  // gradient
  --bg-image-gradient: var(--gradient-background-light-theme);
}

@media (prefers-color-scheme: light) {
  :root {
    // font-weight
    --main-font-weight: 400;
    --main-font-bold-weight: 700;

    // theme-colors
    --theme-bc-color: white;
    --theme-accent-color: black;

    // gradient
    --bg-image-gradient: var(--gradient-background-light-theme);
  }
}

:root.theme-dark {
  // font-weight
  --main-font-weight: 465;
  --main-font-bold-weight: 785;

  // theme-colors
  --theme-bc-color: black;
  --theme-accent-color: #00cc14;

  // gradient
  --bg-image-gradient: var(--gradient-background-dark-theme);
}

@media (prefers-color-scheme: dark) {
  :root {
    // font-weight
    --main-font-weight: 465;
    --main-font-bold-weight: 785;

    // theme-colors
    --theme-bc-color: black;
    --theme-accent-color: #00cc14;

    // gradient
    --bg-image-gradient: var(--gradient-background-dark-theme);
  }
}
