/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/


:root.theme-light {
  // font-weight
  --main-text-weight: var(--main-font-weight-400);
  --title-text-weight: var(--main-font-bold-weight-700);

  // theme-colors
  --theme-bc-color: var(--light-theme-bc-color, white);
  --theme-accent-color: var(--light-theme-accent-color, black);
  --theme-button-color: var(--light-theme-bc-color);

  // gradient
  --bg-image-gradient: var(--gradient-background-light-theme);

  // button-color
  --button-disabled-color: var(
    --light-theme-accent-color-op-60,
    rgb(0 0 0 / 60%)
  );
}

@media (prefers-color-scheme: light) {
  :root {
    // font-weight
    --main-text-weight: var(--main-font-weight-400);
    --title-text-weight: var(--main-font-bold-weight-700);

    // theme-colors
    --theme-bc-color: var(--light-theme-bc-color, white);
    --theme-accent-color: var(--light-theme-accent-color, black);
    --theme-button-color: var(--light-theme-bc-color);

    // gradient
    --bg-image-gradient: var(--gradient-background-light-theme);

    // button-color
    --button-disabled-color: var(
      --light-theme-accent-color-op-60,
      rgb(0 0 0 / 60%)
    );
  }
}

:root.theme-dark {
  // font-weight
  --main-text-weight: var(--main-font-weight-465);
  --title-text-weight: var(--main-font-bold-weight-785);

  // theme-colors
  --theme-bc-color: var(--dark-theme-bc-color, black);
  --theme-accent-color: var(--dark-theme-accent-color, #00cc14);
  --theme-button-color: var(--dark-theme-accent-color);

  // gradient
  --bg-image-gradient: var(--gradient-background-dark-theme);

  // button-color
  --button-disabled-color: var(
    --dark-theme-accent-color-op-60,
    rgb(0 204 20 / 60%)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    // font-weight
    --main-text-weight: var(--main-font-weight-465);
    --title-text-weight: var(--main-font-bold-weight-785);

    // theme-colors
    --theme-bc-color: var(--dark-theme-bc-color, black);
    --theme-accent-color: var(--dark-theme-accent-color, #00cc14);
    --theme-button-color: var(--dark-theme-accent-color);

    // gradient
    --bg-image-gradient: var(--gradient-background-dark-theme);

    // button-color
    --button-disabled-color: var(
      --dark-theme-accent-color-op-60,
      rgb(0 204 20 / 60%)
    );
  }
}
